{% extends 'base.html' %}

{% block title %} Inicio {% endblock %}

{% block content %}

    <div class="col-12 ml-1">
        <h1 class="d-inline-block fs-2 mb-1">Bienvenido(a), {{ name }}</h1>
        <img class="home-image d-none d-sm-inline" src="{{ url_for('static',filename='telescopy.png') }}">
    
        <h2 class="fs-3 mt-2 mb-3">Tus cursos</h2>
    </div>
    <div class="col-12 d-flex flex-wrap">
        {% if not curses %} 
        <div class="d-block">
            <p>Aun no estas inscrito a ningun curso. </p>
            <a class="mx-auto bg-purple text-decoration-none text-light p-3 rounded m-3" href="{{ url_for('MFKroutes.enroll') }}">Inscribete ahora</a>
        </div>
        {% endif %}
        
        {% if curses %}
        {% for curse in curses %}
        
        <div class="curse-container bg-graylight border ms-0 me-4 mb-4">
            <div class="col-12 h-50 mt-3 mb-2">
                <img class="curse-icon h-50 rounded mx-2 mx-md-3 mt-2 bg-warning p-1" src="{{ url_for('static',filename='guitar2.png') }}" alt="curse-icon">
                <div class="d-inline-block h-50 w-50 ms-1">
                    <p class="curse-info bg-green rounded-pill d-inline-block px-1 fs-6">Medio</p>
                    <a href="#" class="curse-info d-inline-block d-block fs-5 text-decoration-none text-dark">Curso de {{ curse['curse_name'] }}</a>
                    <a href="#" class="curse-info d-inline-block d-block fs-6 text-decoration-none text-dark"><b>Por: </b>{{ curse['teachername'] }}</a>
                </div>
            </div>
            <div class="w-100 mt-2">
                <div class="point d-none d-md-inline-block rounded-circle bg-success ms-3"></div>
                <p class="d-none d-md-inline-block m-0">Progreso:</p>
                <div class="progress w-75 mt-4 mt-md-2 curse-progress1">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ curse['progress'] }}%" aria-valuenow="{{ curse['progress'] }}" aria-valuemin="0" aria-valuemax="100"><b>{{ curse['progress'] }}%</b></div>
                </div>
            </div>
        </div>

        {% endfor %} 
        <div class="curse-enroller bg-graylight mx-auto ms-md-0 p-0">
            <a class="w-100 h-100 d-block fs-1 text-decoration-none plus text-center purple-hover" href="{{ url_for('MFKroutes.enroll') }}"><b>+</b></a>
        </div>
        {% endif %}
    </div>

{% endblock %}