{% extends 'base.html' %}

{% block title %} Lección {% endblock %}

{% block content %}
    <div class="col-12">
        <h1 class="d-inline-block fs-3 mb-1">Lección 1</h1>
    </div>
    <video class="col-12 col-md-8 rounded" src="https://musicfk.s3.amazonaws.com/videoprueba.mp4" controls></video>
    <div class="col-12 col-md-8 mt-3">
        <h3 class="text-bold fs-3">Introduccion</h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptates fugiat voluptatibus incidunt nemo ipsum iusto dolores, laborum, laudantium iure tempore veritatis molestias accusamus voluptas odio. Odit porro consequuntur aliquam.</p>
    </div>
{% endblock %}